<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>login</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">  
  <script src="js/angular.min.js"></script>
  <script src="js/jquery-3.1.0.min.js"></script>
<head>
<style>
  body {
    background-image: url("img/bkg2.jpg");
}
</style>
<style>
img {
    width: 100%;
    height: auto;
}
</style>
</head>
<body>
    <img src="img/SPKT.jpg">
    <div class="row">
          <div class="logo col-md-6 col-sm-6 col-xs-12 ">
              <div id='ctl05_portlet_9b8ba9cf-dd1c-4b80-91fe-8787110cd93b' style="padding:10px 0px 0px 0px;width:1000px;float:left"><div>   
              <br>              
                <marquee direction="left"><span style="text-align: left; font-size: 40px; color:   #FF0000;" ><h2 style="background-color:blue;color:white">
                   ứng dụng xếp giảng viên ngồi hội đồng bảo vệ Khóa Luận Tốt Nghiệp</h2>
                      </span></marquee>
                </div>   
          </div>
      </div>
      <div class="search col-md-6 col-sm-6 col-xs-12 text-right">
            <form method="get" action="#">
              <head>
                <style>
                  body {
                          color:blue;
                        }
                </style>
              </head><br><br><br><br>
              <button type="button" class="btn btn-brimary"><h style=color:red>Trang chủ
      <span class="glyphicon glyphicon-home"></span><a href="trangchu.html"></a>
            </form>
       </div>
   <style>
      ul {
             list-style-type: none;
               margin: 0;
               padding: 0;
              overflow: hidden;
              background-color:white;
          }

    li {
         float: left;
        }

      li a {
          display: block;
           padding: 14px;
            }
</style>
<body>
  <ul>
    <li><a href="trangchu.html"></a></li><span class="glyphicon glyphicon-home">trang chu</span>
  </ul><br><br>
   <div class="container">

      <form class="form-signin col-md-7 col-md-offset-3">
       <div class="panel panel-default">
            
            <div class="panel-body">
                   <h1 class="form-signin-heading" style="text-align: center;">Đăng Nhập</h1><br>
                   <div class="row" style="text-align: center;">
                        <label class="radio-inline"><input type="radio" name="optradio"><a href="SV.html" >Sinh viên</a> </label>
                       <label class="radio-inline"><input type="radio" name="optradio"><a href="GV.html" >Giảng viên</a> </label>
                        <label class="radio-inline"><input type="radio" name="optradio"><a href="nhapthongtin.html" >Trưởng khoa/Trưởng bộ môn</a> </label>
                        <label class="radio-inline"><input type="radio" name="optradio"><a href="AD_profile.html" >Admin</a> </label>
                   </div>
            </div>


 <div ng-app="validationApp" ng-controller="mainController">
<div class="container">
<div class="row">     
<div class="col-sm-6">
      <form name="userForm" ng-submit="submitForm()" novalidate>
               <div class="form-group">
            <label>Username</label>
                <input type="text" name="username" class="form-control" ng-model="username" 
                ng-minlength="6" ng-maxlength="12" ng-required=true>
                <span class="error" ng-show="userForm.username.$error.required">required</span>
                <span class="error" ng-show="userForm.username.$error.minlength">words must be more than 6</span>
                <span class="error" ng-show="userForm.username.$error.maxlength">words must be less than 12</span>
                <span class="valid" ng-show="userForm.username.$valid">OK</span>
           </div>
          <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" ng-show="!rememberPassword"
                            ng-model="password" ng-required=true> 
                <input type="text" name="plainPassword" ng-show="rememberPassword" ng-model="password" 
                            ng-required=true> 
                <span class="error" ng-show="userForm.password.$error.required">required</span> 
                <span class="valid" ng-show="userForm.password.$valid">OK</span>
           
          </div>
        <div class="form-group">
           <input type="checkbox" id="rememberPassword" 
                  ng-model="rememberPassword">
            <label class="remember" for="rememberPassword">
              Nhớ mật khẩu</label>
        </div>
        <div class="col-md-3 col-md-offset-5">
       <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Đăng nhập</button>
     </div>
     <br>
     <br>

      </form>
<script>
var validationApp = angular.module('validationApp', []);

  // create angular controller
  validationApp.controller('mainController', function($scope) {

    // function to submit the form after all validation has occurred      
    $scope.submitForm = function() {

      // check to make sure the form is completely valid
      if ($scope.userForm.$valid) {
        alert('May Report finished.');
      }

    };

  });
</script>
</body>
</html>
